/* general */
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header */
header{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

select{
  margin-right: 10px;
  padding-right: 50px;
}

button{
  padding: 0 25px;
}

/* main */
.main-wrapper{
  height: calc(100vh - 140px);
  background-color: rgb(127, 255, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-limit{
  width: 70%;
  margin: 0 auto;
}

.container{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

.card{
  cursor: pointer;
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  background-color: rgb(127, 255, 212);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.active{
  background-color: rgb(72, 148, 123);
}

.card.bomb{
  background-color: brown;
}

.end-game{
  background-color: rgba(170, 170, 170, 0.26);
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: -100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
  text-align: center;
  background-color: azure;
  border: 2px solid black;
  padding: 10px 20px;
}
/* footer */
footer{
  height: 60px;
}

p{
  line-height: 60px;
  font-size: 0.7rem;
}